/* 
    Crée le     : 1 nov. 2015, 08:56:15
    Auteur      : Jeff Muraro
    Version     : v0.1
    Description : Feuille de style CSS pour les éléments de base (header, nav, section, footer, etc.)
                  de Music'Land.
*/

body {
    //background-color: #ededed;
}

/* Style pour l'en-tête */
header {
    position: relative;
    
    margin: auto;
    margin-top: 10px;
    
    height: 200px;
    width: 1080px;
    
    background-color: #ededed;
    //background-color: red; //Couleur pour les tests.
}

header .floatLeft {
    position: relative;
    
    float: left;
}


/* Style pour la navigation */
nav {
    position: relative;
    
    margin: auto;
    margin-top: 10px;
    
    height: 50px;
    width: 1080px;
    
    background-color: #ededed; //Couleur pour les tests.
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav li {
    border-right: 1px solid black;
    display: block;
    float: left;
}

nav li:last-child {
    border-right-width: 0px;
}

nav a {
    background-color: #ededed;
    color: #1e00ff;
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

nav a:hover  {
    background-color: #f3f3f3;
} 

.clearfix {
    *zoom: 1;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Style pour le contenu */
section {
    position: relative;
    
    margin: auto;
    
    height: auto;
    width: 1080px;
    
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    
    background-color: #ededed; //Couleur pour les tests.
}


article {
    position: relative;
    
    height: auto;
    width: 1040px;
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    padding: 10px;
    
    opacity: 0.8;
    background-color: #1e00ff;
}

.form {
    background-color: #ededed;
}

/* Style pour le pied de page */
footer {
    position: relative;
    
    margin: auto;
    margin-top: 10px;
    
    height: 50px;
    width: 1080px;
    
    text-align: center;
    line-height: 50px;
    
    background-color: #ededed; //Couleur pour les tests.
}